.pro_head{
    margin-bottom: 20px;
    padding-left: 5px;
    width: 100%;
    border-bottom-style: solid;
    text-align: left;
    border-color: #357ed3;
}
.pro_head h2{
    font-family: Georgia, Serif;
    /*font-family: ‘Times New Roman’, Times, serif;*/
    font-size: 30px;
}

.pro_image{
    font-family: Georgia, Serif;
    margin-top: 10px;

}

.pro_info{
    text-align: left;
}
.pro_info h3{
    font-family: Georgia, Serif;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
    padding-bottom: 5px;
}
.pro_info label{
    font-family: Georgia, Serif;
    /*font-family: ‘Times New Roman’, Times, serif;*/
}

.file {
    visibility: hidden;
    position: absolute;
}

#SavePropic{
    margin-top: 5px;
    visibility: hidden;
}

#fail{
    border:none;
    margin-top: 7px;
    margin-right: 7px;
    padding: 0px;
    font-size: 13px;"
}

.fail{
    font-family: Georgia, Serif;
    font-size: 16px;
}

.fail strong{
    font-size: 17px;
    font-weight: bold;
}

/*Media query Section.*/

@media (max-width: 768px) {
    .pro_head h2{
        font-size: 22px;
    }
    .pro_info h3{
        font-size: 20px;
    }
}